<md-card *ngFor="let node of nodes">
  <md-card-title>{{ node }}</md-card-title>
  <md-card-content>

    <div class="container">
      <div class="row">
        <div class="col s1 red darken-1">1</div>
        <div class="col s1">2</div>
        <div class="col s1">3</div>
        <div class="col s1">4</div>
        <div class="col s1">5</div>
        <div class="col s1">6</div>
        <div class="col s1">7</div>
        <div class="col s1">8</div>
        <div class="col s1">9</div>
        <div class="col s1">10</div>
        <div class="col s1">11</div>
        <div class="col s1">12</div>
      </div>
    </div>

    <!--<md-grid-list cols="4" [rowHeight]="400">
      <md-grid-tile>
        Test
      </md-grid-tile>
      <md-grid-tile>
        <chart [options]="options"></chart>
      </md-grid-tile>
      <md-grid-tile>
        <chart [options]="options"></chart>
      </md-grid-tile>
    </md-grid-list>-->

  </md-card-content>
</md-card>
